$rental-blue: #0a6fba;
$rental-light-blue: #e7f4fe;
$rental-yellow: #f3ce56;
$rental-green: #00874d;
$rental-grey: #a4a4a4;
$rental-dark-grey: #444;
$rental-graphite: #5B5B5B;
$rental-red: #961412;
$rental-orange: #F1C74C;
$black: #000;
$white: #fff;